#canvas {
  border: 1px solid black;
  border-radius: 5px;
  background: url('../backgrounds/wasteland.jpg');
  background-position: bottom;
  max-height: 500px;
  margin: auto;
}
.canvasContainer {
  height: 100%;
  display: flex;
  overflow: hidden;
}
body {
  height: 100vh;
  /*background: url('../backgrounds/tile.png');*/
  /*background: url('../backgrounds/pow-star.png');*/
  /*background: url('../backgrounds/topography.png');*/
  /*background: url('../backgrounds/black-mamba.png');*/
  background: url('../backgrounds/congruent.png');
  background-color: darkgrey;
}
