#canvas {
  border: 1px solid black;
}
.canvasContainer {
  width: 5000px;
  height: 500px;
  /*display: flex;*/
  margin-top: 5%;
  background: url('../backgrounds/wasteland.jpg');
  /*background: url('../backgrounds/test.jpg');*/
  background-position: bottom;
}
body {
  height: 100vh;
  background: linear-gradient(#03396c, #6497b1);
  background: -webkit-linear-gradient(#03396c, #6497b1);
  background: -o-linear-gradient(#03396c, #6497b1);
  background: -moz-linear-gradient(#03396c, #6497b1);
}
